body {
    color: #707070;
    padding-top: 50px;
}

a {
    color: #707070;
}

div.portfolio-description-section {
    padding: 3% 10% 0%;
}

div.portfolio-top-section {
    padding: 3% 10% 3%;
    text-align: center;
}

div.portfolio-new-section {
    background-color: #FF9C6C;
    color: #fafbfc;
    text-align: center;
    padding: 1%;
    margin-top: 3%;
}

div.portfolio-top-image {
    background-color: #FF9C6C;
}

h1,h5 {
    font-weight: bolder;
}

p.project-italicized{
    font-style: italic;
}

div.portfolio-light-section {
    background-color: #fafbfc;
    padding: 2%;
}

img.project-description-img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5px;
}

div.project-next {
    text-align: right;
}

img.project-next {
    width: 50px;
}

.portfolio-video{
    text-align: center;
}

div.activity-row {
    margin-bottom: 20px;
}